body {
  background: linear-gradient(-45deg, #ffcdc9, #fdacac, #fd7979);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
    transform: translateY(-30px) scale(0.9);
  }

  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

.anim h1 {
  animation: fade 0.5s;
}
.anim p {
  animation: fade 0.5s 0.5s backwards;
}
.anim a {
  animation: fade 0.5s 1s backwards;
}
